body {
  margin:0;
  background-color: #f5f5f5;
  font-family: Arial;
  padding-left: 10%;
  padding-right: 10%;
}

.center{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: black;
}

/* Navigation */
.topnav {
  overflow: hidden;
  background-color: #333;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #f5f5f5;
  color: black;
}

.topnav a.right {
	float:right;
}

/* Gallery */
div.gal-container {
max-width: 70%;
margin-left: 10px;
padding-left: 16px;
background-color: #FFF;
}

div.gallery {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #ccc;
    border-radius: 3px;
    float: left;
    background-color: #FFFFFF;
    padding: 20px;
    margin: 25px;
    width:170px;
    height:310px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    border-radius: 10px;
    width: 100%;
    height: 80%;
    border:  1px solid black;
}

div.gallery input {
  width: 20px;
  height: 20px;
  display: inline-block;
  overflow: hidden;
  background-size: 20px 20px;
  padding: 10px
}

div.desc {
    padding: 15px;
    text-align: center;
}


/* Button */
input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}

input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}

.btn {
  border: 2px solid transparent;
  background: #e7e7e7;
  color: #black;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
}

.btn:hover {
  background-color: #BEBEBE;
}

.btn-right{
  float:right;
}

.login-link {
  font-size: 12px;
  color: #444;
  display: block;
	margin-top: 12px;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}
