<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ASAR</title>
    <link rel="stylesheet" type="text/css" href="static/css/style_classify.css">
    <link rel="stylesheet" type="text/css" href="../static/dist/cropper/cropper.css">
    <link rel="stylesheet" type="text/css" href="../static/style_buttons.css">
</head>

<body>
    <div class="topnav">
        <a href="/home">Home</a>
        <a class="active" href="/classify">Predict</a>
        <a class="right" href="/logout">Logout</a>
    </div>
    <h1>ASAR Project</h1>
    <p>Arabic Manuscript Analysis and Recognition project.</p>
    <div id="loader" style="display:none;"></div>

    <div class="controls">
        <h2> Controls </h2>
        <label for="networkSelect">Select model</label><br>
        <select id="networkSelect" style="width: 60%">
          <option value ="none">Select</option>
          <option value="phoc">PHOC</option>
          <option value="phosc">PHOSC</option>
        </select> <br> <br>
        <input type="button" id="clearButton" value="Clear" class="btn btn-primary btn-large btn-block"><br>
        <input type="button" id="myButton" value="Predict" class="btn btn-primary btn-large btn-block"><br>
        <input type="button" id="cropButton" class="btn btn-primary btn-large btn-block" onclick="beginCrop()" value="Crop" /> <br>
        <input type="file" id="imageLoader" name="imageLoader" accept="image/*" />
        <br>
        <h2> Output </h2>
        <textarea id="result" rows="6" cols="20"></textarea>
        <br>
        <br>
        <input type="button" id="downloadButton" value="Download Result" onclick="downloadTheResult()" class="btn btn-primary btn-large btn-block">
    </div>
    <canvas id="canvas"></canvas>
    <br>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Crop Image</h2>
            </div>
            <div class="modal-body">
                <p>Drag to crop out unwanted features. </p>
                <img id="cropImage" class="cropImg" />
            </div>
            <div class="modal-footer">
                <input type="button" id="modalCrop" value="Crop" class="btn-small btn-primary btn-large btn-block"><br>
            </div>
        </div>

    </div>
    <footer>
        @2022 Built by SpaceCode Team. Powered by Flask and Keras.
    </footer>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='../static/dist/cropper/cropper.js'></script>
    <script src="{{ url_for('static',filename='js/drawing.js') }}"></script>
    <script type="text/javascript"></script>
    <script src='../static/js/classify.js'></script>

</body>

</html>
