<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/style_hub.css" type="text/css">
    <link href="../static/dist/bootstrap/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    <link rel="shortcut icon" href="/static/img/logo.ico" />
    <title>ASAR</title>
</head>

<body class="container-fluid h5">
    <nav class="navbar navbar-expand-lg navbar-dark shadow-sm" style="background-color: #233F82 !important;">
      <div class="container-fluid">
        <a href="/home" class="navbar-brand">
          <img src="/static/img/logo-nav.png" width="45" alt="" class="d-inline-block align-middle mr-2">
          <span class="text-uppercase font-weight-bold">ASAR</span>
        </a>

        <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

        <div id="navbarSupportedContent" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item active"><a href="/home" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/classify" class="nav-link">Predict</a></li>
          </ul>
          <div class="navbar-nav ms-auto">
            <a href="/logout" class="nav-item nav-link">Logout</a>
          </div>
        </div>
      </div>
    </nav>

    <div style="padding-left:16px" class="mt-2">
        <h1 class="font-weight-bold" style="color:#303030;">Classification History</h1>
        <h3 class="text-muted">This page shows your previous classifications.</h3>
    </div>
    <div class=gal-container>
        {% for z in zipped %} {% if z[1] %}
        <div class="gallery">
            <a target="_blank" href="{{ z[1] }}">
                <img src="{{ z[1] }}" alt="{{ z[1] }}" width="20" height="20">
            </a>
            <div class="row mt-2">
                <button type="button" id="but_{{loop.index}}" onclick="setDownload({{ z[0] }})" class="col-md-4 btn btn-primary btn-small">
                    <i class="fas fa-download"></i>
                </button>
                <button type="button" id="but_del_{{loop.index}}" onclick="deleteEntry({{ z[0] }})" class="col-md-4 btn btn-danger btn-small">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </div>
        {% endif %} {% else %} You currently have no classifications. Press the Predict menu button to start classifying. {% endfor %}
    </div>
    <footer>
        @2022 Built by SpaceCode Team. Powered by Flask and Keras.
    </footer>
    <script src='../static/dist/jquery-3.6.0.min.js'></script>
    <script src="../static/dist/font-awesome.min.js" crossorigin="anonymous"></script>
    <script src="../static/dist/sweetalert2.min.js"></script>
    <script src="../static/dist/bootstrap/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src='../static/dist/cropper/cropper.js'></script>
    <script type="text/javascript" src= "../static/js/home.js"></script>
</body>

</html>
